.createColumnsFields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .add_button {
    border: none;
  }

  .field {
    overflow: hidden;
    width: 100%;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    &_name {
      width: 230px;
      max-width: 230px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &_error {
      color: red;
    }

    &_delete {
      font-size: 18px;
      transition: color 0.2s ease-in;

      &:hover {
        color: red;
      }
    }
  }

  .separator {
	margin: -24px 0 -4px 0;
	color: #002664;
	opacity: 0.5;
	padding: 0;
  }
}