.homeTitle {
	color: white;
	font-weight: 600;
	font-size: 3rem;
	position: relative;
}

.homeBackground {
	background-image: url("/public/fon.png");
	background-repeat: no-repeat;
	background-size: 100% 250px;
	height: 250px;
	background-position: bottom;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}