.menuContainer {
  padding: 2rem 0;
  padding-right: 0.5rem;

  .menuAvatarContainer {
    padding-left: 1.5rem;
  }

  .menuAvatarLabel {
    color: #002664;
    font-weight: 600;
    font-size: 1rem;
    .menuAvatarLogout {
      font-size: 0.725rem;
	  font-weight: 400;
      cursor: pointer;
    }
  }
  .menu {
    width: 100%;
    .ant-menu-submenu-title span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;
    }
    .ant-menu-item {
      padding: 0;
    }

    .ant-menu-title-content {
      a {
        text-decoration: none;
      }
    }
    .ant-menu-item:not(.ant-menu-item-selected) {
      opacity: 0.8;
    }
    .ant-menu-item.ant-menu-item-selected {
      background: #fff;
      font-weight: 500;
      color: #002664;
      transition: color 0.2s ease-in;
      svg {
        scale: 1.1;
        transition: scale 0.2s ease-in;
      }
    }
  }
}
