.card {
  transition: box-shadow 0.2s ease-in;
  border-radius: 5px;
  border: 1px solid rgba(#002664, 0.5);

  &:hover {
    cursor: pointer;

    box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d, 0 12px 48px 16px #00000008;

    .name {
      color: #002664;
    }

    .icon {
      color: #002664;
    }
  }

  .icon {
    font-size: 20px;
    transition: color 0.2s ease-in;
  }

  .name {
    font-size: 16px;
    line-height: 120%;
    transition: color 0.2s ease-in;
  }
}