.card {
  border-radius: 5px;
  height: 200px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d,
    0 12px 48px 16px #00000008;
  cursor: pointer;
  transition: scale 0.35s ease-in;

  &:hover {
    scale: 1.01;
    .name {
      color: #002664;
    }

    .icon {
      color: #002664;
    }
  }

  .icon {
    font-size: 20px;
    transition: color 0.2s ease-in;
  }

  .name {
    font-size: 16px;
    line-height: 120%;
    transition: color 0.2s ease-in;
  }
}
